<ul class="socials">
  <a href="{{ social.github_url }}" target="_black">
    <img class="social" src="{{ social.github_icon }}" alt="github account" />
  </a>
  <a href="{{ social.twitter_url }}" target="_blank">
    <img class="social" src="{{ social.twitter_icon }}" alt="twitter account" />
  </a>
  <a href="{{ social.linkedin_url }}" target="_blank">
    <img class="social" src="{{ social.linkedin_icon }}" alt="linkedin account" />
  </a>
  <a href="{{ social.instagram_url }}" target="_blank">
    <img class="social" src="{{ social.instagram_icon }}" alt="instagram account" />
  </a>
</ul>